body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Header, Logo og Nav*/

header {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

#Sander {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

#Rasmussen {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 26px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    list-style: none;
    gap: 30px;
    right: 13%;
    bottom: 30px;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

li > a {
    color: black;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}


/* Bakgrunnsbilde Section */

.tekst-container {
    height: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#Bilde-Overskrift {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    position: relative;
    top: 10%;
    color: white;
}

#Bilde-innhold {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
    position: relative;
    top: 12%;
}

/* Buttons på Bildet. (Viderekoblinger)*/

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: -80px;
}

.btn-ferdigheter {
    background-color: lightskyblue;
    width: 8%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: white;
    position: relative;
    bottom: 130px;
}

.btn-erfaringer {
    background-color: lightskyblue;
    width: 8%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: white;
    position: relative;
    bottom: 130px;
}

.btn-erfaringer > a, .btn-ferdigheter > a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


.btn-erfaringer > a:hover, .btn-ferdigheter > a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

/* Flex-container / IMG og Paragrafer */

.flex-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.Tekst-boks {
    font-size: 12px;
    font-family: 'Alegreya Sans', sans-serif;
    width: 350px;
    text-align: center;
}

#Sander_Portrett {
    border-radius: 50%;
}


/* Footer - Kontaktinformasjon */

footer {
    background-color: rgb(92, 91, 91);
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

footer > div > div > p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

#mailto {
    color: white;
    text-decoration: none;
}

#mailto:hover {
    text-decoration: underline;
    font-weight: 600;
}
