body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Header, Logo og Nav*/

header {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

#Sander {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

#Rasmussen {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 26px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    list-style: none;
    gap: 30px;
    right: 13%;
    bottom: 30px;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

li > a {
    color: black;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.active {
    font-weight: 600;
}

/* Bakgrunn, Overskrift + Innhold */

.Bakgrunn {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);    width: 100%;
    height: 380px;
}

.bakgrunn-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 70px;
}

#Bakgrunn-Overskrift {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    color: white;
}

#Bakgrunn-Innhold {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: white;
}


/* OS - Bilder + Tekstinnhold */

.TemaOverskrift {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.OS-Linje {
    width: 690px;
    height: 2px;
    background-color: black;
}

.flex-container-OSWindows {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    position: relative;
    left: -370px;
}

.flex-container-OSMac {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    position: relative;
    top: -56px;
    right: -160px;

}

.flex-container-OSWindows img, .flex-container-OSMac img, .flex-container-HTML img, .flex-container-CSS img {
    height: 50px;
    width: 50px;
}

.flex-container-OSWindows p, .flex-container-OSMac p, .flex-container-HTML p, .flex-container-CSS p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.flex-container-OSKompetanseTekst, .flex-container-ApplikasjonerTekst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -50px;
    gap: 200px;
}

.flex-container-OSKompetanseTekst div, .flex-container-ApplikasjonerTekst div, .flex-container-ProgrammeringTekst div {
    width: 350px;
}

.flex-container-OSKompetanseTekst p, .flex-container-ApplikasjonerTekst p, .flex-container-ProgrammeringTekst p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
}

/* Applikasjoner - Bilder + Innhold */

.Applikasjon-linje {
    width: 690px;
    height: 2px;
    background-color: black;
    margin-bottom: 40px;
}

.flex-container-Adobe {
    display: flex;
    flex-direction: row;
    gap: 28px;
    position: relative;
    justify-content: center;
    left: -358px;
}

.flex-container-Office365 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    position: relative;
    top: -56px;
    right: -230px;
}

.flex-container-Adobe p, .flex-container-Office365 p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.flex-container-Adobe img, .flex-container-Office365 img {
    width: 50px;
    height: 57px;
}

/* Programmering Seksjon - Bilde + Innhold */

.linje {
    display: flex;
    justify-content: center;
}

.Programmering-linje {
    width: 690px;
    height: 2px;
    background-color: black;
}

.flex-container-HTML {
    margin-top: 45px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 28px;
    left: -400px;
}

.flex-container-CSS {
    margin-top: 45px;
    position: relative;
    top: -100px;
    right: -150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
}

.flex-container-ProgrammeringTekst {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    top: -80px;
    gap: 202px;
}


/* Tilbake knapp */

.flex-container-viderekobling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.flex-container-viderekobling a {
    text-decoration: none;
    color: black;
}

.flex-container-viderekobling a:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.flex-container-viderekobling p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    position: relative;
    top: -3px;
}


/* Footer - Kontaktinformasjon */

footer {
    margin-top: 0px;
    background: #423f3e;
    position: relative;
    top: 100px; 
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

footer > div > div > p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

#mailto {
    color: white;
    text-decoration: none;
}

#mailto:hover {
    text-decoration: underline;
    font-weight: 600;
}