body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}



/* Navbar */

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    right: 13%;
    bottom: 30px;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

li > a {
    color: black;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.active {
    font-weight: 600;
}

/* Logo / Venstre Hjørne */
.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

#Sander {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}

#Rasmussen {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 26px;
}

/* Bakgrunn - Seksjon */

.Bakgrunn {
    margin-top: 30px;
    background-color: #2143f2;
    background-image: linear-gradient(248deg, #2143f2 13%, #e82bde 55%, #f09f11 90%);       
    width: 100%;
    height: 350px;
}

.Bakgrunn-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
}

#Bakgrunn-Overskrift {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    color: white;
}

#Bakgrunn-Innhold {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
}

/* Mediaplayer / Youtube video*/

.Video-container {
    margin-top: 60px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linje {
    width: 300px;
    height: 1px;
    background-color: black;
    position: relative;
    top: -20px;
}

.Video-container > div > p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
}

/* Tekstbokser */

.flex-container-tekst {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    text-align: center;
}

.flex-container-tekst div {
    width: 400px;
}

.flex-container-tekst p {
    font-family: 'Alegreya Sans', sans-serif;
}



/* Footer - Kontaktinformasjon */

footer {
    margin-top: 100px;
    background: #423f3e; 
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

footer > div > div > p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

#mailto {
    color: white;
    text-decoration: none;
}

#mailto:hover {
    text-decoration: underline;
    font-weight: 600;
}
